# Código gitignore para evitar procesar los directorios de las dependencias

.idea/
__pycache__/
chapters/__pycache__/
chapters/migrations/
countries/__pycache__/
countries/migrations/
kinds/__pycache__/
kinds/migrations/
months/__pycache__/
months/migrations/
sections/__pycache__/
sections/migrations/
shipments/__pycache__/
shipments/migrations/
sicat/__pycache__/
sicat/migrations/
subshipments/__pycache__/
subshipments/migrations/
transactions/__pycache__/
transactions/migrations/
units/__pycache__/
units/migrations/
years/__pycache__/
years/migrations/
de.sqlite3


# mypy
.mypy_cache/

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid
# django migrations 
**/migrations/**
!**/migrations
!**/migrations/__init__.py